<h1>Articles<h1>
   
<u1>
    <% @articles.each do |article| %>
        <li>
             <%= link_to "Article.title", article_path(article) %>
             -
             <%= article.title %>
        </li>
    <% end %>
<%= link_to 'nowy', new_article_path %>
</u1>   
